@use "./styles/mixins/mixin.scss" as styles;
@use "./styles/components/loading";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #111111;
    --sec-color: #7843e9;
    --thr-color: #a581f0;
    --white-color: #fefefe;
    --text-color: #656578;
    --twitter-color: #06a1e1;
    --linkedin-color: #37497b;
    --whatapp-color: #25d366;
    --gmail-color: #c61a1a;
}

body {
    @apply m-0 p-0 box-border;
    font-family: "Roboto";
    scroll-behavior: smooth !important;
    height: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar,
.modal .card::-webkit-scrollbar {
    @apply w-2 rounded-xl hover:w-2.5 transition-all;
    background-image: linear-gradient(131deg, var(--sec-color), var(--thr-color), var(--sec-color), var(--thr-color));
}
body::-webkit-scrollbar-thumb,
.modal .card::-webkit-scrollbar-thumb {
    @apply bg-[--white-color]  rounded-2xl scroll-smooth;
}


/* start navbar styles*/
.nav {
    @apply fixed w-full uppercase text-[--main-color] font-bold items-center text-sm md:text-lg px-4 md:px-10 py-3 flex justify-between   top-0 left-0 z-50 max-sm:py-4 bg-white  shadow-md shadow-[--thr-color];
}
.logo {
    @apply flex justify-center items-center lg:text-xl text-[--sec-color] hover:text-[--thr-color] scale-90 hover:scale-100 transition-all;
    .logo-img {
        @apply w-10 lg:w-16 h-full rounded-full me-1;
    }
}
.nav-list {
    background-image: linear-gradient(131deg, var(--thr-color), var(--sec-color), var(--sec-color), var(--thr-color));
    background-size: 300% 100%;
    @apply hidden z-[999]  flex-col justify-start items-start  w-[60%] max-sm:w-[80%] h-screen px-6 py-12 rounded-e-xl absolute  left-0 top-0;
    .navLogo {
        @apply flex flex-col justify-center space-y-3 items-center scale-100 hover:scale-105  mx-auto text-xl text-[--white-color];
        .logo-img {
            @apply w-16 h-full rounded-full mb-2;
        }
    }
    hr {
        @apply w-full h-0.5 bg-[--text-color] opacity-60  block;
    }
    span {
        font-family: "Pacifico", cursive;
        @apply w-full my-4 text-center flex items-center justify-center font-semibold text-xl tracking-wider italic text-[--white-color];
        .icon {
            @apply w-5 h-5 ms-2 text-[#FFC83D];
            animation: goDown 1.3s linear infinite;
        }
    }
    .scoialNav {
        @apply flex justify-center items-center w-fit mx-auto rounded-lg space-x-3 max-sm:space-x-1 bg-[--white-color];
    }
}

.nav-item {
    @apply relative overflow-hidden  my-3 transition-all block w-full text-start py-4 text-[--white-color]  text-lg font-semibold border-b-gray-200/40 border-b-2;

    a {
        @apply flex justify-start items-center cursor-pointer hover:ps-8 hover:scale-105 hover:text-[--linkedin-color] transition-all scroll-smooth;
        .icon {
            @apply w-6 h-6 me-3;
        }
    }
}
.activeList {
    @apply flex;
    animation: slidleft 0.3s linear;
}

.burger-btn {
    @apply h-[2.3rem] relative  px-2 py-2 space-y-1.5 w-12 border-2 border-[--sec-color]  rounded;

    span {
        @apply block w-7 h-[2px] bg-[--sec-color] animate-pulse transition-all shadow-sm shadow-[--sec-color];
    }
    span:nth-child(1) {
        animation: fillSpan 0.5s infinite alternate linear;
    }
    span:nth-child(2) {
        animation: fillSpan 0.5s infinite alternate linear;
        animation-delay: 0.2s;
    }
    span:nth-child(3) {
        animation: fillSpan 0.5s infinite alternate linear;
        animation-delay: 0.4s;
    }
}
.burger-btn:hover {
    span {
        animation-play-state: paused;
    }
}
.activeBtn {
    span:nth-child(1),
    span:nth-child(3) {
        @apply absolute left-[50%] -translate-x-[50%] bottom-[50%] -translate-y-[50%] w-7;
    }
    span:nth-child(1) {
        @apply -rotate-45;
    }
    span:nth-child(3) {
        @apply rotate-45;
    }
    span:nth-child(2) {
        @apply opacity-0 animate-none;
    }
}
.progress-bar-container {
    @apply absolute bottom-0 left-0 w-full h-1;
    .progress-bar {
        @apply h-full bg-[--sec-color] transition-all;
    }
}

.themBtn {
    @apply w-full overflow-hidden mb-4;
    @include styles.centringByflex;
    #toggle_checkbox {
        display: none;
    }

    label {
        @apply my-3  w-32 h-14 block relative cursor-pointer select-none;
        background-color: #77b5fe;
        border-radius: 56px;
        transition: 0.3s ease background-color;
        overflow: hidden;
    }

    #star {
        position: absolute;
        top: 13px;
        left: 13px;
        width: 30px;
        height: 30px;
        background-color: #fafd0f;
        transform: scale(1);
        border-radius: 50%;
        transition:
            0.3s ease top,
            0.3s ease left,
            0.3s ease transform,
            0.3s ease background-color;
        z-index: 1;
    }

    #star-1 {
        position: relative;
    }

    #star-2 {
        position: absolute;
        transform: rotateZ(36deg);
    }

    .star {
        top: 0;
        left: -7px;
        font-size: 54px;
        line-height: 28px;
        color: #fafd0f;
        transition: 0.3s ease color;
    }

    #moon {
        position: absolute;
        bottom: -52px;
        right: 8px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        transition: 0.3s ease bottom;
    }

    #moon:before {
        content: "";
        position: absolute;
        top: -12px;
        left: -17px;
        width: 40px;
        height: 40px;
        background-color: #03a9f4;
        border-radius: 50%;
        transition: 0.3s ease background-color;
    }

    #toggle_checkbox:checked + label {
        background-color: #000;
    }

    #toggle_checkbox:checked + label #star {
        top: 3px;
        left: 64px;
        transform: scale(0.3);
        background-color: yellow;
    }

    #toggle_checkbox:checked + label .star {
        color: yellow;
    }

    #toggle_checkbox:checked + label #moon {
        bottom: 8px;
    }

    #toggle_checkbox:checked + label #moon:before {
        background-color: #000;
    }
}

/* end navbar styles*/

/* start herosec styles*/
.herosec {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(./assets/homebg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @apply md:pt-6 lg:pt-24 pb-6 px-2 sm:px-8 h-[90vh] pt-24  flex items-center flex-wrap relative;
    .sideNav {
        @apply fixed left-0 top-[50%] -translate-y-[50%] flex flex-col bg-white rounded-lg py-1 px-1 max-lg:hidden;
        .linkicon {
            @apply w-6 h-6 xl:w-8 xl:h-8;
        }
    }
    .left-side,
    .right-side {
        @include styles.splitSides;
    }
    .left-side {
        @apply space-y-5;
        img {
            @apply hidden max-md:block w-80 max-h-full mx-auto;
            animation: bounce 1s linear alternate infinite;
        }
        .content {
            @apply relative w-full h-10 flex justify-center;
            h1 {
                @apply max-sm:text-3xl text-4xl md:text-3xl xl:text-5xl;
                color: #fff;
                position: absolute;
            }

            h1:nth-child(1) {
                color: transparent;
                -webkit-text-stroke: 2px var(--sec-color);
            }

            h1:nth-child(2) {
                color: var(--sec-color);
                animation: animate 4s ease-in-out infinite;
            }
        }
        .btn {
            @apply max-sm:text-xs text-sm lg:text-lg;
        }
        h3 {
            @apply text-xl xl:text-3xl my-2 font-bold italic text-center text-[--sec-color] opacity-90;
        }
        p {
            @apply w-[98%] lg:w-[80%] mx-auto text-center leading-relaxed text-sm xl:text-lg font-semibold text-[--thr-color];
        }
    }
    .right-side {
        @apply max-md:hidden;
        img {
            @apply w-full h-96 mx-auto;
            animation: bounce 1s linear alternate infinite;
        }
    }
    .bottom-side {
        @apply flex justify-center items-center space-x-1;
        .info-btn,
        .btn-arrow {
            @apply ms-2.5;
        }
        .resumeBtn {
            @apply me-3;
            .btn-arrow {
                animation: goDown 1.3s linear infinite;
            }
        }
        .info-btn {
            animation: showing 2s infinite;
        }
    }
}

/*start aboutsec styles*/

.aboutsec {
    @apply bg-gray-200/50;
}

.about-contanier {
    @include styles.centringByflex;
    @apply flex-wrap lg:px-10 xl:px-20 mt-8;
    .left-side,
    .right-side {
        @apply md:pe-12 xl:pe-20 w-full lg:w-1/2;
        h3 {
            @apply text-3xl my-8 font-bold text-[--sec-color];
        }
    }
    .left-side {
        @apply max-md:text-center;
        .about-dec {
            @apply my-4 block text-[--text-color] leading-[1.7]  tracking-wider;
            .main-word {
                @apply font-extrabold text-[--sec-color];
            }
            a {
                @apply underline font-extrabold me-1 text-[--sec-color] cursor-pointer;
            }
        }
    }
    .right-side {
        @apply max-md:text-center px-3;
    }
}
.skills-contanier {
    @apply flex items-center justify-start max-md:justify-center flex-wrap gap-3;
    .skill-item {
        @apply text-[--text-color] text-sm font-semibold p-3 px-6 bg-gray-300/70 rounded-lg hover:bg-[--sec-color] transition-all hover:text-[--white-color] tracking-wider select-none;
    }
}

/*end aboutsec styles*/

/*start prtojectSec styles*/
.prtojectSec {
    .projectsContanier {
        @include styles.centringByflex;
        @apply mt-6 justify-start lg:px-36 flex-wrap;
        .card {
            @apply w-full sm:w-1/2  lg:w-1/3  px-3 py-2;
            .projectCard {
                @apply shadow-lg shadow-gray-300 rounded-lg relative overflow-hidden;
                .projectDes {
                    @apply absolute top-[-100%] left-0 w-full h-full flex flex-col justify-center items-center overflow-hidden transition-all duration-300;
                    h1 {
                        @apply text-center my-4 text-lg font-bold text-[--white-color];
                    }
                    button {
                        @apply px-6 py-2 bg-[--white-color] rounded-xl font-bold tracking-wider capitalize text-[--sec-color]  skew-y-6 hover:scale-105 transition-all hover:bg-slate-200 hover:skew-y-0 my-4;
                    }
                    span {
                        @apply py-2 px-4 bg-[--white-color] absolute -top-0.5 -left-1 rounded-e-xl font-semibold text-[--sec-color];
                    }
                }

                &::before {
                    content: "";
                    background: linear-gradient(45deg, rgba(138, 3, 187, 0.774) 35%, rgb(117, 59, 243) 100%);
                    @apply absolute left-0 top-[-100%] w-full h-full rounded-lg transition-all duration-200;
                }

                &:hover::before,
                &:hover .projectDes {
                    @apply top-0;
                }

                img {
                    @apply h-[250px] w-full rounded-lg;
                }
            }
        }
    }
    .moreBtn {
        @apply mt-10 scale-110  mx-auto block w-fit;
    }
}
.modal {
    @include styles.centringByflex;
    @apply w-full h-full flex justify-center items-center bg-black/60;

    .card {
        background: linear-gradient(45deg, rgba(138, 3, 187, 0.774) 35%, rgb(117, 59, 243) 100%);
        @apply w-[95%] lg:w-[80%] py-5 px-6 max-sm:px-2 rounded-lg flex justify-center relative items-center flex-wrap max-h-[80vh] max-xl:overflow-y-scroll pt-8 max-xl:pt-16;
        .closeBtn {
            @apply w-8 h-8 text-[--white-color] absolute top-5 right-5 z-10 hover:scale-110 hover:rotate-180 transition-all cursor-pointer;
        }
        .left-side,
        .right-side {
            @apply w-1/2 max-xl:w-full;
        }
        .left-side {
            @apply relative  shadow-[--sec-color] shadow-lg rounded-lg hover:shadow-xl hover:shadow-[--sec-color] transition-all;
            img {
                @apply h-full max-xl:max-h-[400px] xl:min-h-[500px] w-full rounded-lg;
            }
            &:hover {
                .links {
                    @apply bg-black/70;
                    .link {
                        @apply opacity-100;
                    }
                }
            }
            .links {
                @apply absolute top-0 left-0 bg-black/20 max-sm:bg-black/60 w-full h-full rounded-lg flex justify-center items-center space-x-6;
                .error {
                    @apply capitalize font-semibold text-[--white-color] text-lg;
                }
                .link {
                    @apply p-3 rounded-[50%] bg-[--text-color] hover:bg-[--white-color] hover:scale-110 transition-all opacity-30 max-sm:opacity-70 relative;
                    &::after {
                        @apply absolute   top-[50%] translate-y-[-50%] bg-[--text-color] px-3 py-1 transition-all opacity-0 capitalize font-semibold;
                    }
                    &:first-child::after {
                        content: "deploy";
                        @apply -left-[4.1rem]  rounded-s-lg;
                    }
                    &:last-child::after {
                        content: "Repo";
                        @apply -right-[3.5rem]  rounded-e-lg;
                    }
                    &:hover::after {
                        @apply hover:bg-[--white-color] text-[--sec-color];
                    }
                    &:hover:first-child:after {
                        animation: showTextLeft 0.3s linear forwards;
                    }
                    &:hover:last-child:after {
                        animation: showTextRight 0.3s linear forwards;
                    }

                    .icon {
                        @apply w-7 h-7 text-[--white-color] transition-all;
                    }
                    &:hover .icon {
                        @apply text-[--sec-color] scale-125;
                    }
                }
            }
        }
        .right-side {
            @apply ps-6 max-lg:px-2 max-xl:mt-5;
            h2 {
                @apply font-bold text-3xl text-center mb-3 tracking-tight text-[--thr-color] italic;
            }
            .title {
                @apply font-bold uppercase block mx-auto my-1 text-center text-[--white-color] text-lg;
            }
            hr {
                @apply w-[60%] h-0.5  border-0 mx-auto my-4 rounded-xl bg-gray-300;
            }

            p {
                @apply text-[--white-color] font-semibold capitalize leading-relaxed tracking-wider w-full max-lg:text-sm  mb-4 text-center;
            }
        }
        .skills-contanier {
            @apply justify-center gap-2;
        }
        .skill-item {
            @apply text-[--sec-color] bg-slate-200 hover:bg-[--sec-color] hover:text-[--white-color] max-xl:px-4 max-xl:py-2;
        }
    }
}
/*end prtojectSec styles*/

/*start contactSec styles*/
.contactsec {
    @apply xl:px-24 py-16;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(./assets/homebg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    @apply flex justify-center items-center flex-wrap;
    .left-side,
    .right-side {
        @apply w-full lg:w-1/2 overflow-hidden max-lg:mb-5 px-4;
    }
    svg {
        @apply w-full max-h-[400px] mx-auto block;
    }

    #envelope {
        animation: float 2s ease-in-out infinite;
    }

    #star1,
    #star2,
    #star3,
    #star4,
    #star5,
    #star6 {
        animation: blink 1s ease-in-out infinite;
    }
    #star2 {
        animation-delay: 100ms;
    }
    #star3 {
        animation-delay: 500ms;
    }
    #star4 {
        animation-delay: 700ms;
    }
    #star5 {
        animation-delay: 300ms;
    }
    #star6 {
        animation-delay: 200ms;
    }

    form {
        .title {
            @apply text-center text-4xl text-[--sec-color] flex justify-center items-center;
            font-family: "Pacifico", cursive;
            .waving-hand {
                animation: wave 2.1s 0.6s infinite;
                transform-origin: 75% 75%;
            }
        }

        .form-control {
            @apply my-3  w-full border-gray-300/70 border-2 transition-all;
            background-color: #f2f6f8;
            border-radius: 2rem;
            &.thick {
                height: 3.3rem;
                padding: 0.5rem 3.5rem;
            }

            &:focus {
                @apply border-[--sec-color] border-2 outline-none shadow-sm shadow-[--sec-color];
                background-color: #f2f6f8;
            }
        }

        .message .form-control {
            padding: 0.5rem 1.8rem;
        }

        ::placeholder {
            font-family: "Quicksand", sans-serif;
            font-weight: 600;
            font-size: 1.1rem;
            color: #838788;
            position: relative;
            left: 0;
        }

        input,
        textarea {
            font-family: "Quicksand", sans-serif;
            color: #212529;
            font-size: 1.1rem;
        }

        .icon {
            color: #57565c;
            height: 1.3rem;
            position: absolute;
            left: 1.5rem;
            top: 1.1rem;
        }
    }

    .btn.btn-primary {
        @apply my-4 mx-auto;
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 3rem;
        border: 0;
        border-radius: 3rem;
        background-image: linear-gradient(
            131deg,
            var(--sec-color),
            var(--thr-color),
            var(--sec-color),
            var(--thr-color)
        );
        background-size: 300% 100%;
        transition: all 0.3s ease-in-out;
    }

    .btn.btn-primary:hover:enabled {
        box-shadow: 0 0.5em 0.5em -0.4em var(--sec-color);
        background-size: 100% 100%;
        transform: translateY(-0.15em);
    }
    .errorMessage {
        @apply block text-end me-4 italic font-bold text-sm text-[--sec-color] capitalize opacity-90;
    }
}

/*end contactSec styles*/

/*start footer */
.footer {
    @apply bg-black text-[--white-color];
    h3 {
        @apply text-2xl text-center font-semibold tracking-wider mb-6;
    }
    span {
        font-family: "Quicksand", sans-serif;
        @apply text-center text-xs md:text-sm italic font-semibold flex justify-center items-center   sm:tracking-widest;
        a {
            @apply ms-1 md:ms-2 text-[--sec-color];
        }
    }
}
.footerNav {
    @apply flex justify-center items-center  space-x-2 max-sm:space-x-1 bg-[--white-color] w-fit mx-auto  rounded-lg text-black shadow-lg shadow-[--sec-color];
    .socialLink {
        @apply px-4;
        .linkicon {
            @apply w-8 h-8 max-sm:w-7 max-sm:h-7;
        }
    }
}
.secfooterNav {
    @apply my-10 flex justify-center items-center space-x-3  w-fit mx-auto border-2 border-gray-200 rounded-xl py-4 px-6 shadow-lg shadow-[--sec-color];
    a {
        @apply py-2 font-semibold text-[--sec-color] capitalize  hover:text-[--white-color] md:text-lg hover:border-b-2 border-b-[--white-color] transition-all cursor-pointer;
    }
}
/*end footer */

/*common items*/
.sec {
    @apply pt-24 pb-8 max-sm:px-3 px-6 md:px-8 rounded-lg shadow-lg;
    .sec-title {
        @apply relative text-3xl sm:text-4xl text-center font-bold uppercase tracking-[1.6px] pb-4 italic text-[--sec-color];
        &::before {
            content: "";
            @apply absolute bottom-0 left-[50%] -translate-x-[45%] h-1 w-24 bg-[--sec-color] rounded-md;
        }
        &::after {
            content: "";
            background: linear-gradient(var(--sec-color), var(--thr-color));
            @apply absolute -bottom-2 -translate-x-[45%] h-5 w-5  rounded-[50%];
            animation: moving 1s infinite ease-in-out alternate;
        }
    }
    .sec-dec {
        @apply my-6 text-sm lg:text-lg lg:w-[60%] mx-auto  text-center font-[500] tracking-widest text-[--text-color];
    }
}
.btn {
    @apply py-2 px-5 lg:px-6 cursor-pointer rounded-xl bg-[--sec-color] text-[--white-color] font-bold uppercase text-sm sm:text-lg hover:scale-[1.05] transition-all hover:shadow-lg hover:shadow-[--sec-color] flex justify-center items-center;
    background-image: linear-gradient(131deg, var(--thr-color), var(--sec-color), var(--sec-color), var(--thr-color));
    background-size: 300% 100%;
}
.btn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--sec-color);
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}

.socialLink {
    @apply py-3 px-2  relative cursor-pointer;
    &::before {
        content: "";
        @apply w-full h-full transition-all  bg-[--sec-color] absolute left-0 top-0 opacity-0 rounded-lg;
    }
    &:hover::before {
        @apply opacity-30;
    }
    .linkicon {
        @apply w-8 h-8;
    }
    .linkedin {
        @apply text-[--linkedin-color];
    }
    .twitter {
        @apply text-[--twitter-color];
    }
    .whatapp {
        @apply text-[--whatapp-color];
    }
    .gmail {
        @apply text-[--gmail-color];
    }
}

.scrollBtnTop {
    background-image: linear-gradient(131deg, var(--thr-color), var(--sec-color), var(--sec-color), var(--thr-color));
    background-size: 300% 100%;
    @apply fixed bottom-5 right-5 z-50  rounded-lg  p-1 opacity-90 hover:opacity-100 scale-90 hover:scale-105 text-[--white-color] shadow-md transition duration-150 ease-in-out;
    .icon {
        @apply w-8 h-8;
    }
}
.hide {
    @apply hidden;
}

.dark {
    background-image: none;
    @apply bg-black;
    .sec {
        .sec-dec {
            @apply text-[--white-color];
        }
        .about-dec {
            @apply text-[--white-color];
        }
        .skill-item {
            @apply text-[--white-color];
        }
        .projectsContanier {
            .card {
                .projectCard {
                    @apply shadow-md shadow-[--sec-color];
                }
            }
        }
    }
}

/*animations styles */
@keyframes fillSpan {
    from {
        @apply w-3;
    }
    to {
        @apply w-7;
    }
}

@keyframes slidleft {
    from {
        opacity: 0;
        left: -100%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
@keyframes goDown {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-7px);
    }
}
@keyframes showing {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes bounce {
    from {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(3px);
    }
}

@keyframes showTextLeft {
    from {
        @apply opacity-0 left-[50%] z-[-1];
    }
    50% {
        @apply opacity-0;
    }
    to {
        @apply opacity-100 -left-[4.1rem]  z-[-1];
    }
}
@keyframes showTextRight {
    from {
        @apply opacity-0 right-[50%] z-[-1];
    }
    50% {
        @apply opacity-0;
    }
    to {
        @apply opacity-100 -right-[3.5rem]   z-[-1];
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(16deg);
    }
    20% {
        transform: rotate(-6deg);
    }
    30% {
        transform: rotate(16deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(16deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes moving {
    from {
        left: 47%;
    }
    to {
        left: 54%;
    }
}
